<h1>Bru Boards</h1>

<% @boards.each do |board| %>
	<p>
		<strong><%= link_to board.name, user_board_path(@user, board) %></strong>
	</p>
<% end %>

<%= link_to "Back to Pins", pins_path %>
<%= link_to "Back to Boards", user_boards_path(@user) %>
<%= link_to "Create a Pin", new_pin_path %>
<%= link_to "Create a Board", new_user_board_path(@user) %>