<h1>Bru's Boards</h1>

<% @boards.each do |board| %>
	<p>
		<%= board.name %>
		<%= board.description %>
		<%= board.private %>
	</p>
<% end %>

<%= link_to "Back to Pins", pins_path %>
<%= link_to "Back to Boards", user_boards_path(@user) %>
<%= link_to "Create a Pin", new_pin_path %>
<%= link_to "Create a Board", new_user_board_path(@user) %>