<h1><%= "#{@user.email}'s Boards" %></h1>

<p>
	<strong><%= @board.name %></strong>
	<%= @board.description %>
	<%= @board.private %>
</p>

<% if @board.user.pins.name == @board.name %>
	<% @user.pins.each do |pin| %>
		<%= image_tag pin.image %>
		<%= pin.title %>
		<%= pin.description %>
	<% end %>
<% else %>
<p>No Pins are on this Board</p>
<% end %>

<%= link_to "Back to Pins", pins_path %>
<%= link_to "Back to Boards", user_boards_path(@user) %>
<%= link_to "Create a Pin", new_pin_path %>
<%= link_to "Create a Board", new_user_board_path(@user) %>